@import url("https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  max-width: 100vw;
  background-color: #fff;
  font-family: "Plus Jakarta Sans", sans-serif;
  overflow-x: hidden;
}

main {
  padding: 64px 160px 144px 160px;
}

header {
  padding: 24px 160px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header > a {
  text-decoration: none;
  padding: 16px 32px;
  border-radius: 28px;
  background-color: #13183f;
  font-weight: 700;
  font-size: 18px;
  color: white;
}

.top_section {
  display: flex;
  padding-top: 110px;
  margin-bottom: 238px;
}
.left {
  min-height: 100px;
  width: 50%;
}
.left > h2 {
  font-weight: 800;
  max-width: 457px;
  font-size: 56px;
  color: #13183f;
  line-height: 67px;
  font-family: "Plus Jakarta Sans", sans-serif;
}

.left > p {
  font-family: "Plus Jakarta Sans", sans-serif;
  font-weight: 500;
  line-height: 150%; /* 27px */
  color: #83869a;
  max-width: 457px;
  margin-top: 24px;
  margin-bottom: 40px;
}

.left > a {
  padding: 16px 32px;
  border-radius: 28px;
  text-decoration: none;
  color: #fff;
  font-size: 18px;
  font-weight: 700;
  background-image: linear-gradient(180deg, #ff6f48 0%, #f02aa6 100%);
  display: inline-block;
}

.right > img {
  position: absolute;
  top: -150px;
  right: -350px;
}
.right {
  min-height: 100px;
  width: 50%;
}
.box_section {
  min-height: 100px;
  background-color: #f02aa6;
}

.box_section > 1 {
  font-weight: 800;
  line-height: 120%; /* 38.4px */
  color: #fff;
}
.box_section > 1 {
}
